

@font-face {
font-family: "Lato";
src: url("/tpl/static/fonts/lato") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*.navbar-nav {*/
/*    flex-direction: row;*/
/*}*/


/*.d7:after {*/
/*    content:"";*/
/*    clear:both;*/
/*    display:table*/
/*}*/

/*.d7 form {*/
/*    width: auto;*/
/*    float: right;*/
/*    margin-right: 30px;*/
/*}*/

/*.d7 input {*/
/*    width: 250px;*/
/*    height: 42px;*/
/*    padding-left: 15px;*/
/*    border-radius: 42px;*/
/*    border: 2px solid #324b4e;*/
/*    background: #F9F0DA;*/
/*    outline: none;*/
/*    position: relative;*/
/*    transition: .3s linear;*/
/*}*/

/*.d7 input:focus {*/
/*    width: 300px;*/
/*}*/
/*#header {*/
/*    position: relative;*/
/*    z-index: 30;*/
/*    background-color: #C9506E;*/
/*}*/

/*#topLine {*/
/*    background-color: #1f1f1f;*/
/*    position: relative;*/
/*}*/

/*@media (min-width: 1200px)*/
/*    .container {*/
/*        width: 1170px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 1200px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 992px)*/
/*    .container {*/
/*        width: 960px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 992px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 768px)*/
/*    .container {*/
/*        width: 720px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 768px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 576px)*/
/*    .container {*/
/*        width: 540px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 576px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*    .container, .container-fluid {*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*        position: relative;*/
/*    }*/

/*    #topLineNav {*/
/*        !*margin-left: 190px;*!*/
/*        padding: 21px 0;*/
/*    }*/

/*    opLineNav>ul>li:first-child {*/
/*        margin-left: 0;*/
/*    }*/
/*    #topLineNav>ul>li {*/
/*        margin-left: 35px;*/
/*    }*/

/*@media (min-width: 1200px)*/
/*    .container {*/
/*        width: 1170px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 1200px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 992px)*/
/*    .container {*/
/*        width: 960px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 992px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 768px)*/
/*    .container {*/
/*        width: 720px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 768px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*@media (min-width: 576px)*/
/*    .container {*/
/*        width: 540px;*/
/*        max-width: 100%;*/
/*    }*/
/*@media (min-width: 576px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/
/*    .container, .container-fluid {*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*        position: relative;*/
/*    }*/


/*#topHeaderNav {*/
/*    !*margin-left: 190px;*!*/
/*    padding: 15px 0;*/
/*}*/
/*.footerFixed {*/
/*    padding: 35px 0;*/
/*    background-color: #1f1f1f;*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: -1;*/
/*}*/

/*@media (min-width: 1200px)*/
/*    .container {*/
/*        width: 1170px;*/
/*        max-width: 100%;*/
/*    }*/

/*@media (min-width: 1200px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/

/*@media (min-width: 992px)*/
/*    .container {*/
/*        width: 960px;*/
/*        max-width: 100%;*/
/*    }*/

/*@media (min-width: 992px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/

/*@media (min-width: 768px)*/
/*    .container {*/
/*        width: 720px;*/
/*        max-width: 100%;*/
/*    }*/

/*@media (min-width: 768px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/

/*@media (min-width: 576px)*/
/*    .container {*/
/*        width: 540px;*/
/*        max-width: 100%;*/
/*    }*/

/*@media (min-width: 576px)*/
/*    .container, .container-fluid {*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*    }*/

/*    .container, .container-fluid {*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        padding-right: 15px;*/
/*        padding-left: 15px;*/
/*        position: relative;*/
/*    }*/

/*@media (min-width: 1200px)*/
/*    .row {*/
/*        margin-right: -15px;*/
/*        margin-left: -15px;*/
/*    }*/

/*@media (min-width: 992px)*/
/*    .row {*/
/*        margin-right: -15px;*/
/*        margin-left: -15px;*/
/*    }*/

/*@media (min-width: 768px)*/
/*    .row {*/
/*        margin-right: -15px;*/
/*        margin-left: -15px;*/
/*    }*/

/*@media (min-width: 576px)*/
/*    .row {*/
/*        margin-right: -15px;*/
/*        margin-left: -15px;*/
/*    }*/

/*#footer .leftFooter {*/
/*    width: 215px;*/
/*    border-right: 1px solid #3d3d3d;*/
/*}*/

/*.rightFooter {*/
/*    padding-left: 38px;*/
/*    width: calc(100% - 215px);*/
/*}*/

/*.footerFirstNav {*/
/*    margin-bottom: 38px;*/
/*}*/

/*.footerSecondNav {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*    color: white;*/
/*    font-weight:lighter ;*/
/*}*/

/*ul.reset, nav ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#footer {*/
/*    background-color: #1f1f1f;*/
/*    !*height: 408px;*!*/
/*    !*height: 460px;*!*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.title {*/
/*    font-weight: bold;*/
/*    color: #303338;*/
/*}*/

/*a {*/
/*    color: white;*/
/*}*/

/*a:hover {*/
/*    color: #FEF301;*/
/*}*/

/*#topLineNav>ul {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*ul.reset, nav ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    }*/

/*#topHeaderNav>ul {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*ul.reset, nav ul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#topHeaderNav>ul>li:first-child {*/
/*    margin-left: 0;*/
/*}*/
/*#topHeaderNav>ul>li {*/
/*    margin-left: 100px;*/
/*    position: relative;*/
/*}*/

/*fieldset {*/
/*    min-width: 0;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    border: 0;*/
/*}*/

/*.search input {*/
/*    width: 160px;*/
/*    width: 155px;*/
/*    height: 32px;*/
/*    background-color: #484848;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    -webkit-transition: all 0.25s ease-in-out;*/
/*    -moz-transition: all 0.25s ease-in-out;*/
/*    -ms-transition: all 0.25s ease-in-out;*/
/*    -o-transition: all 0.25s ease-in-out;*/
/*    transition: all 0.25s ease-in-out;*/
/*    color: #757575;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    padding: 0 9px;*/
/*    outline: none;*/
/*}*/

/*.search input {*/
/*    width: 160px;*/
/*    width: 155px;*/
/*    height: 32px;*/
/*    background-color: white;*/
/*    border-radius: 20px;*/
/*    border: none;*/
/*    color: black;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*    padding: 0 9px;*/
/*    outline: none;*/
/*}*/

/*.search .btnSearch {*/
/*    font-size: 20px;*/
/*    line-height: 20px;*/
/*    color: #f4ae1e;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 6px;*/
/*    right: 9px;*/
/*    text-decoration: none;*/
/*}*/

/*.if {*/
/*    font-family: 'IconFont' !important;*/
/*    speak: none;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-variant: normal;*/
/*    text-transform: none;*/
/*    line-height: 1;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.search {*/
/*    margin-left: 42px;*/
/*}*/


.photography_services {
    background: url("/tpl/static/images/photographyservices.svg") no-repeat;
    height: 265px;
    color: white;
    font-weight: 500;
    padding: 30px;
}

.internet_shop {
    background: url("/tpl/static/images/internetshop.svg") no-repeat;
    height: 265px;
    color: white;
    font-weight: 500;
    padding: 30px;
}

ul {
    list-style-type: none;
}

.selected_text {
    color: #C9506E;
    font-size: 18px;
    font-weight: bold;
}

.main_text {
    color: #D77C92;
    font-size: 14px;
    font-weight: 600;
}

#map {
    width: 100%; /* Ширина карты */
    height: 400px; /* Высота карты */
}

.photodocuments_banner {
    background: url("/tpl/static/images/photodocuments.png") no-repeat;
    min-height: 250px;
}

.photodocuments_info {
    left: 125px;
    position: absolute;
    width: 379px;
    height: 168px;
    /* padding-left: 108px; */
    /* padding-top: 50px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 4px rgb(210 210 210 / 50%);
    border-radius: 5px;
    top: 190px;
}

.photodocuments_text {
    color: #302354;
    font-weight: 900;
    top: 23px;
    left: 23px;
}

.photodocuments_btn {
    width: 154px;
    height: 32px;
    background: #7056B9;
    box-shadow: 0px 3.90698px 7.81395px #8093AA;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 6px;
}

.photodocuments_btn:hover {
    color: #FFFFFF;
    background-color: #C9506E;
}

.photodocuments_zakaz {
    width: 87px;
    height: 30px;
    background: #7056B9;
    box-shadow: 0px 3.90698px 7.81395px #8093AA;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.photodocuments_zakaz:hover {
    background: #FEF301;
    color: #1F1F1F;
    border: 1px solid #FEF301;
}

.white_block {
    /*position: absolute;*/
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(84, 88, 247, 0.2);
}

.block_load {
    width: 110px;
    height: 79px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(84, 88, 247, 0.2);
    border-radius: 20px;
    padding: 0 20px;
}

.purple_block {
    /*position: absolute;*/
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #7056B9;box-shadow: 0px 0px 20px rgba(84, 88, 247, 0.2);
}

.form-group {
    font-size: 17px;
    font-weight: 500;
}

.form-control-photo {
    border: 0.5px solid rgba(112, 86, 185, 0.4);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    color: #4D4D4D;
    width: 232px;
    height: 39px;
    text-align: left;
}

.white_btn {
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1.6px solid #7056B9;
    color: #1F1F1F;
    width: 232px;
    height: 39px;
}

.white_btn:hover {
    background: #FEF301;
    color: #1F1F1F;
    border: 1px solid #FEF301;
}

.white_block {
    padding-left: 30px;
    padding-bottom: 30px;
}

.example-2 .btn-tertiary{
    color:#7056B9;
    padding:0;
    line-height:40px;
    width:300px;
    margin:auto;
    display:block;
    /*border:2px solid #7056B9*/
}

.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus {
    color:#7056B9;
    border-color:#7056B9;
}

.example-2 .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}

.example-2 .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer;
    border:none;
}

.example-2 .input-file + .js-labelFile .icon:before{
    content:"\f093";
}

.example-2 .input-file + .js-labelFile.has-file .icon:before{
    content:"\f00c";
    color:#5AAC7B;    padding:0 10px;
    cursor:pointer;
    border:none;

}

.viewing {
    background-color: #C4C4C4;
    height: 263px;
}

.requirements {
    color: #C4C4C4;
    font-size: 16px;
    font-weight: 400;
}

.requirements:hover {
    color: #C9506E;
}

.requirements_start {
    margin: 0 auto;
}

@media (min-width : 1225px) and (max-width : 1824px) {
    .md_load {
        display: none;
    }
    .xs_load {
        display: none;
    }
    .form-control-photo {
        border: 0.5px solid rgba(112, 86, 185, 0.4);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        color: #4D4D4D;
        width: 232px;
        height: 39px;
        text-align: left;
    }
    .btn_monohrom {
        width: 232px;
    }
    .btn_prosmotr {
        width: 232px;
    }
    .sm_spisok {
        display: none;
    }
    .mobile_block {
        display: none;
    }
}

@media (min-width : 961px) and (max-width:1224px) {
    .lg_load {
        display: none;
    }
    .xs_load {
        display: none;
    }
    .form-group {
        font-size: 15px;
        font-weight: 500;
    }
    .btn_monohrom {
        width: 170px;
    }
    .btn_prosmotr {
        width: 200px;
    }

    .form-control-photo {
        border: 0.5px solid rgba(112, 86, 185, 0.4);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        color: #4D4D4D;
        width: 170px;
        height: 39px;
        text-align: left;
    }
    .sm_spisok {
        display: none;
    }
    .mobile_block {
        display: none;
    }
}

@media (min-width : 769px) and (max-width:960px) {
    .lg_load {
        display: none;
    }
    .xs_load {
        display: none;
    }
    .form-control-photo {
        border: 0.5px solid rgba(112, 86, 185, 0.4);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        color: #4D4D4D;
        width: 170px;
        height: 39px;
        text-align: left;
    }
    .btn_monohrom {
        width: 170px;
    }
    .btn_prosmotr {
        width: 200px;
    }
    .sm_spisok {
        display: none;
    }
    .mobile_block {
        display: none;
    }

}

@media (min-width : 526px) and (max-width:768px) {
    .printphoto_info {
        left: 87px;
    }
    .lg_load {
        display: none;
    }
    .xs_load {
        display: none;
    }
    .form-group {
        font-size: 14px;
        font-weight: 500;
    }
    .form-control-photo {
        border: 0.5px solid rgba(112, 86, 185, 0.4);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        color: #4D4D4D;
        width: 132px;
        height: 39px;
        text-align: left;
    }
    .btn_monohrom {
        width: 132px;
    }
    .btn_prosmotr {
        width: 200px;
    }
    .sm_spisok {
        display: none;
    }
    .mobile_block {
        display: none;
    }
}

@media (min-width : 321px) and (max-width:525px) {
    .printphoto_info {
        left: 80px;
        top: 218px;
    }
    .lg_load {
        display: none;
    }
    .md_load {
        display: none;
    }
    .form-group {
        font-size: 15px;
        font-weight: 500;
    }
    .form-control-photo {
        border: 0.5px solid rgba(112, 86, 185, 0.4);
        border-radius: 20px;
        font-size: 14px;
        font-weight: 300;
        padding: 10px;
        color: #4D4D4D;
        width: 200px;
        height: 39px;
        text-align: left;
    }
    .btn_monohrom {
        width: 119px;
    }
    .btn_prosmotr {
        width: 200px;
    }
    .lg_spisok {
        display: none;
    }
    .printphoto_info {
        /* left: 7px; */
        position: absolute;
        width: 323px;
        height: 262px;
        /* padding-left: 108px; */
        /* padding-top: 50px; */
        background: #FFFFFF;
        box-shadow: 0px 0px 16px 4px rgb(210 210 210 / 50%);
        border-radius: 5px;
        top: 130px;
    }
    .large_block {
        display: none;
    }


}

@media (min-width : 0px) and (max-width:320px) {
    .lg_load {
        display: none;
    }
    .md_load {
        display: none;
    }
    .lg_spisok {
        display: none;
    }
    .printphoto_info {
        left: 7px;
        position: absolute;
        width: 100%;
        height: 262px;
        /* padding-left: 108px; */
        /* padding-top: 50px; */
        background: #FFFFFF;
        box-shadow: 0px 0px 16px 4px rgb(210 210 210 / 50%);
        border-radius: 5px;
        top: 130px;
    }

    .photodocuments_btn {
        text-align: center;
    }
    .white_block {
        /* position: absolute; */
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgb(84 88 247 / 20%);
        padding: 0!important;
    }
    .large_block {
        display: none;
    }

}

.price {
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.text_price {
    font-size: 21px;
    font-weight: 700;
}